@import url('https://fonts.googleapis.com/css?family=Pangolin');
 html {
    font-family: 'Pangolin', cursive, sans-serif;
    line-height: 1.8;
  }
  
  table {
    letter-spacing: 1px;
    font-size: 0.8rem;
    width: 80%;
  }
  
  td, th {
    padding: 10px 20px;
  }
  
  .t1{
    text-align: left;
    background-color: darkgrey;
  }

  .t2 {
    text-align: left;
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: left;
  }
  
  caption {
    padding: 10px;
  }
  